@page
@model st10083262_cldv6211_poe_part_3.Pages.CarRentalPages.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CarRental</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRental.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRental.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRental.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRental.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRental.RentalPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRental.RentalPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRental.CarNoNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRental.CarNoNavigation.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRental.Driver)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRental.Driver.DriverId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CarRental.Inspector)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CarRental.Inspector.InspectorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CarRental?.RentalId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
